#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        mo4 {
            bindings = <&mo 4>;
            key-positions = <52 54>;
        };

        mo5 {
            bindings = <&mo 5>;
            key-positions = <52 53>;
        };

        CAD {
            bindings = <&kp LA(LC(DELETE))>;
            key-positions = <52 54 23>;
        };

        DeleteSheet {
            bindings = <&HDS>;
            key-positions = <54 64>;
        };

        NewSheet {
            bindings = <&kp LS(F11)>;
            key-positions = <54 50>;
        };

        Close {
            bindings = <&kp LA(F4)>;
            key-positions = <58 59>;
        };
    };

    macros {
        doublezero: doublezero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp NUMBER_0>;
            label = "DOUBLEZERO";
        };

        HDS: HDS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp H &kp D &kp S>;
            label = "HDS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none       &none         &none         &none  &none  &none                                            &none  &none  &none      &none     &none           &none
&kp ESCAPE  &kp Q         &kp W         &kp E  &kp R  &kp T                                            &kp Y  &kp U  &kp I      &kp O     &kp P           &kp BSPC
&kp TAB     &kp A         &kp S         &kp D  &kp F  &kp G  &none                &none                &kp H  &kp J  &kp K      &kp L     &kp MINUS       &kp ENTER
&kp LSHFT   &kp Z         &kp X         &kp C  &kp V  &kp B  &kp INTERNATIONAL_5  &kp INTERNATIONAL_4  &kp N  &kp M  &kp COMMA  &kp DOT   &kp UP_ARROW    &kp SLASH
&kp LCTRL   &kp LEFT_GUI  &kp LEFT_ALT  &mo 3  &sl 1  &sl 2  &kp SPACE            &mo 4                &mo 5  &none  &none      &kp LEFT  &kp DOWN_ARROW  &kp RIGHT
            >;
        };

        number {
            bindings = <
&none   &none             &none         &none         &none          &none                            &none         &none             &none             &none          &none                &none
&trans  &kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4   &kp NUMBER_5                     &kp NUMBER_6  &kp NUMBER_7      &kp NUMBER_8      &kp NUMBER_9   &kp NUMBER_0         &kp BACKSPACE
&trans  &kp LEFT_BRACKET  &none         &none         &none          &none           &none  &trans    &kp HOME      &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp MINUS      &kp EQUAL            &kp RETURN
&trans  &none             &none         &kp LG(C)     &kp LS(COMMA)  &kp LS(PERIOD)  &none  &trans    &kp END       &str "「"         &str "」"         &kp SEMICOLON  &kp SINGLE_QUOTE     &kp RSHIFT
&trans  &trans            &trans        &none         &none          &none           &none  &kp HOME  &kp END       &none             &none             &kp SLASH      &kp INTERNATIONAL_1  &none
            >;
        };

        function {
            bindings = <
&none   &none    &none    &none    &none    &none                       &none             &none              &none             &none         &none         &none
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                      &kp KP_NUMLOCK    &kp LS(N8)         &kp LS(NUMBER_9)  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9
&trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &none  &none       &kp LS(MINUS)     &kp LS(SEMICOLON)  &kp MINUS         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &none  &none       &kp SINGLE_QUOTE  &kp LS(APOS)       &kp SLASH         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
&trans  &trans   &trans   &none    &none    &none    &none  &bt BT_NXT  &bt BT_PRV        &none              &none             &kp NUMBER_0  &doublezero   &kp DOT
            >;
        };

        mouse {
            bindings = <
&none   &none           &none           &none            &none  &none                &none     &none          &none      &none      &none  &none
&trans  &none           &msc SCRL_UP    &none            &none  &none                &none     &none          &none      &none      &none  &none
&trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &none  &none  &none  &none  &kp HOME  &kp PG_UP      &mkp LCLK  &mkp RCLK  &none  &none
&trans  &none           &none           &none            &none  &none  &none  &none  &kp END   &kp PAGE_DOWN  &none      &none      &none  &none
&trans  &trans          &trans          &trans           &none  &none  &none  &none  &none     &none          &none      &none      &none  &none
            >;
        };

        window {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans           &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans           &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LA(HOME)     &kp LC(T)   &kp LC(LS(T))
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LC(PAGE_UP)  &kp LC(F4)  &kp LC(PAGE_DOWN)
            >;
        };

        desktop {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans            &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans            &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans            &kp LC(LG(D))   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LC(LG(LEFT))  &kp LC(LG(F4))  &kp LC(LG(RIGHT))
            >;
        };
    };
};
